/* main */
.main {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* card */

.card {
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 80%;
  border-radius: 50%;
  border: solid gray 4px;
}

/* dog info */
.info {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
