.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* form */

form {
  margin: 20px;
}
form input[type="text"] {
  width: 400px;
}
/* list */

ul li {
  margin: 5px;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.flexList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* heading */

.heading {
  text-decoration: underline 3px;
  margin: 20px;
}
.heading:hover {
  text-decoration-color: red;
  font-size: 1.7rem;
  cursor: pointer;
}
/* button */
.button {
  margin: 0 10px;
}

/* card-body */

.card {
  background: lightcoral;
  width: 500px;
  margin-top: 20px;
}
/* icon-fontawesome */

.fa-trash-alt {
  font-size: 1rem;
  color: red;
  margin: 2px;
}
